<!DOCTYPE HTML>
<html>
	<head>
		<title>E-Doctor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#the-process">The process</a></li>
							<li><a href="#our-values">How we work</a></li>
							
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>E-Doctor</h1>
							<p>Not your average healthcare scheduler.</p>
						</div>
					</section>
					<section id="the-process" class="wrapper style2 fade-up">
						<div class="inner">
							<h2>The process</h2>
							<p>Finding a doctor is as simple as 1-2-3.</p>
							<ol style="font-size: 100%; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">
								<li>Open the app and find doctor by distance or by symptoms.</li>
								<li>Fill the form by choosing a date, giving a name and an email.</li>
								<li>Visit your doctor.</li>
							</ol>
							<div class="style2">
								<section>
									<ul class="actions">
										<li style="font-size: 24px;"><a href="/testServices" class="button fa fa-flask"> Try our services here </a></li>
									</ul>
								</section>
							</div>
								<div class="style2">
									<section>
									<ul class="actions">
										<li style="font-size: 24px;"><a href="#" class="button fa fa-mobile"> Android App for patients </a></li>
									</ul>
										</section>
								</div>
								<div class="style2">
									<section>
										<ul class="actions">
											<li style="font-size: 24px;"><a href="#" class="button fa fa-user-md"> Online Platform for doctors</a></li>
										</ul>
									</section>
								</div>
						</div>
					</section>

					<section id="our-values" class="wrapper style4 fade-up">
						<div class="inner">
							<h2>Our values</h2>
							<p>We want our users to connect with their doctors and we do that using cutting-edge technology.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>We are secure</h3>
									<p>We care about our customers and so we use end-to-end security, meaning that you are in complete control.</p>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>We are open-source</h3>
									<p>We want to be trasnparent and we want to see our community grow, so we developed our platoform using version control tools.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>We are available</h3>
									<p>At the moment we use an Andorid client for your appointments but if you want to use our tech, head over to our github page and take a look at our documentation so you can integrate our tools to your own tech.</p>
								</section>
								<section>
									<span class="icon solid major fa-solid fa-laptop-medical"></i>"></span>
									<h3>We are focused</h3>
									<p>Our tech is developed on the cloud, that means that we are 24/7 available, whenever, wherever...</p>
								</section>
							</div>
						</div>
					</section>
					

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
								<section>
									<ul class="contact">
										<li>
											<h3>The Team</h3>
											<span>
												Karles Panagiotis (Software Engineer)<br />
												Balta Eirini (Software Engineer) 
											</span>
										</li>
										<li>
											<h3> 
												<a href="#">Github Page
													<i class="icon brands fa-github"></i>
												</a>
											</h3>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>